body, html {
  height: 100%;
  display: grid;
  background-color: rgb(230, 236, 240);
  font-family: Circular, Helvetica, Arial, sans-serif;;
  padding: 0;
  margin: 0;
  color: #111;
}

section {
  margin: auto;
  max-width: 570px;
  padding: 20px;
}

p {
  margin: 40px 0;
  line-height: 1.5;
}

#links {
  display: flex;
  justify-content: space-around;
}

a {
  text-transform: uppercase;
  background: #005eb8;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1.5px;
}

a:hover {
  background: #005eb8CC;
}
